<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.artal_benedi.ListaCompra">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".AddProduct"
            android:label="@string/title_activity_add_product"/>
        <activity android:name=".ListEdit"
            android:label="@string/title_activity_list_edit"
            android:parentActivityName=".ShoppingListPad" />
        <activity android:name=".ProductPad"
            android:label="@string/title_activity_product_pad"
            android:parentActivityName=".ShoppingListPad" />
        <activity android:name=".ShoppingListShow"
            android:label="@string/title_activity_list_show"
            android:parentActivityName=".ShoppingListPad" />
        <activity
            android:name=".ShoppingListPad"
            android:label="@string/title_activity_list_pad" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductEdit"
            android:label="@string/title_activity_product_edit"
            android:parentActivityName=".ProductPad">
        </activity>
    </application>

</manifest>